.languageCard {
  max-width: 30vw;
  max-height: 30vh;
  padding: 30px;
  border-width: 2px;
  border-radius: 70px;
  align-content: center;
}

.languageCardWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
